/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
/* font-family: 'Clicker Script', cursive; */
/* font-family: 'Poppins', sans-serif; */
/* ----------------------------------------------------------------------- */
:root{
    --color1:#382d4f;
    --color3:#C9BBCF;
    --color4:#8b8096;
    --color5:#D6EFED;
    --color6:#8b8096;
    --skin-color:#f2f2f2;
}
body{
    margin:0;
    padding:0;
    line-height:1.5;
    font-size:16px;
    font-family: 'Poppins', sans-serif;;

}
::selection{
    background-color:rgb(180, 165, 193);
    color: black;;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.section{
    background:var(--color1) ;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}
.hidden{
    display: none !important;
}
.main-content{
    padding-left: 270px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin:  auto;
    /* margin-left: 200px; */
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    /* text-align: center; */
}
.section-title h2{
    font-size: 50px;
    color: var(--color4);
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 5px 3px #000000;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: -15px;
    position: relative;
}
button, .btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background: var(--color4);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 1px solid #000000;
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
    transition: all 0.3s ease;
    margin-top: 20px;
}
/* .buttons{
    margin-top: 20px;
} */
button:hover, .btn:hover{
    margin-right: 20px;
    box-shadow: 0px 10px 15px 0px rgb(3, 3, 3);
    border: 1px solid white;
    transition: all 0.3s ease;
}

/* ------------Aside-----------*/
.aside{
    width: 270px;
    background: var(--color4);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: var(--color1);
    /* display: none; */

}     
.aside .logo img{
    position: fixed;
    margin-top: 50px;
    width: 80px;
    height: 80px;
    top: 0;
    left: 80px;
    
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--color4);
    cursor:pointer;
    position: fixed;
    left: 300px;
    top: 30px;
    border-radius: 5px;
    /* background: var(--bg-black-100); */
    display: none ;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before{
    content:'';
    height: 2px;
    width: 18px;
    background: white;
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after{
    content:'';
    height: 2px;
    width: 18px;
    background: white;
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #202022;
    color: black ;
    /* text-shadow: -1px -1px 20px #FFFFFF; */
    padding: 5px 15px;
}
/* .aside .nav li a:hover{
    text-shadow: -1px -1px 20px #FFFFFF;
} */
.aside .nav li a.active{
    color:white;
}
.aside .nav li a i{
    margin-right: 15px;
}
/* -----------Home------------ */
.home{
    min-height: 100vh;
    display: flex;
    color: black;
}
.home .home-info{
    flex:0 0 40%;
    max-width: 60%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
}
h3.hello{
    font-size: 1.5rem;
    margin: 15px 0;
    font-weight: 700 ;
}
h3.hello span{
    font-size: 3rem;
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color:var(--color3);
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
}
.home .home-img::after{
    content:'';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--color3);
    border-right: 10px solid var(--color3);
    right: 30px;
    bottom: -20px;
}
.home .home-img::before{
    content:'';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--color3);
    border-left: 10px solid var(--color3);
    top: -50px;
    left: -60px;
}
.home .home-img img{
    margin: auto;
    border-radius: 5px;
    height: 350px;
}
/* -----------About---------- */
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about-content p{
    font-size: 22px;
    color: white;
    margin-top: 60px;
    justify-content: space-around;
}
.about-content pre{
    opacity: 0.1;
    color: rgba(234, 229, 244, 0.468);
    font-size: 18rem;
    /* z-index: 1; */
    display:block;
    position: absolute;
    
}

/* -------Projects------- */
.project .project-item{
    margin-bottom: 30px;
    flex: 0 0 30.33%;
    max-width: 28%;
    margin-right: 30px;
}
.project .project-item .project-item-inner{
    background-color: var(--color6);
    /* box-shadow: 0px 5px 15px 0px rgb(3, 3, 3); */
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 70px 0px;
    text-align: center;
    transition: all 0.3s ease;
    margin-bottom: 15px;
    margin-top: 15px;
}
a .icon i{
    text-decoration: none;
    color: black;
    margin-top: 15px;
}
.project .project-item .project-item-inner:hover{
    box-shadow: 0px 10px 15px 0px rgb(3, 3, 3);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

/* ---------------------contact us styling ------------------- */
.contact-sub-title{
    color: var(--color6);
    text-align: center;
    font-size: 15px;
    text-shadow: 3px 1px #000000;

}

.contact .contact-info-item
{
    text-align: center;
    font-size: 12px;
    flex: 0 0 25%;
    max-width: 100%;
    padding-top: 12px;
    padding-left: 40;
    color: var(--color6);
    
}
.contact-info-item .icon i{
    padding-bottom: 5px;
}
.row .contact-info-item:nth-child(1){
    margin-left: 8%;
}

.form-container{
    padding: 1rem;
    width: 50%;
    margin:auto;
}

.form-container input{
    display: block;
    width: 100%;
    border: 2px solid #050505;
    border-radius: 5px;
    padding: 0.5rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
}

.form-container textarea{
    display: block;
    width: 100%;
    border: 2px solid #050505;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
}

.form-container ::placeholder{
    font-size: 13px;
    padding-left: 3px;
}
