/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


/* ----------------------------------------------------------------------- */
body{
    background-color: rgb(241, 241, 241);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}
.logo{
    color:black;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration:none;
}
span{
    color:rgb(15, 61, 62) ;
}
.navbar{
    display: flex;

}
.navbar a{
    color: rgb(15, 61, 62);
    font-size: 1.3rem;
    padding: 9px 30px;
    font-weight: bold;
    text-decoration:none;
}
.navbar{
    list-style: none;
}
.navbar a:hover{
    background-color: rgb(15, 61, 62);
    color:#f7f9fa;
    border-radius:0.4em;
    transition: 0.2s;
}
#menu-icon{
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 200px 15%;

}
.home{
    position: relative;
    height: 90vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6rem;
    align-items: center;
}
.home-img img{
    width: 250px;
    height: 290px;
    float: right;
    padding-bottom: 50px;
}
.home-text h5{
    color: #030303;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}
.home-text h1{
    font-size:4rem;
    color:rgb(15, 61, 62);
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
}
.home-text h6{
    color:rgb(15, 61, 62);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}
h6 span{
    font-size: 30px;
    font-weight: bold;
}
#downloadBtn{
    background-color:rgb(15, 61, 62) ;
    color: #f7f9fa;
    padding: 12px 30px;
    border-radius: 0.5em;
    text-decoration: none;
}
#downloadBtn:hover{
    background-color: #f7f9fa;  
    color: rgb(15, 61, 62) ;
    border-color: rgb(15, 61, 62) ; 
    border-style: solid;
    border-width: 0.001cm; 
    border-radius: 0.5em;

}